@import 'variables';
body {
   overflow-x:hidden;
}

body {
   p {
      font-size: 1.2rem;
   }
}

.widget:first-child {
   padding: 10px;
}

.dataTables_wrapper {
   padding-left:8px;
   padding-right:8px;
}

.custom-navbar {
   background-color: $primary; // box-shadow: 0px 4px 50px 5px rgba(0, 0, 0, 0.6);
   z-index: 101;
   @media (min-width: $break-md) {
      padding: 10px 200px;
      height: 50px;
      font-size: 16px;
      font-family: $raleway;
   }
   .nav-link {
      font-family: $lato;
      font-size: 1.05rem;
      text-transform: uppercase;
      font-weight: 500;
   }
   .nav-link-custom {
      cursor: default;
      &:hover {
         color: rgba(255, 255, 255, .5)!important;
         cursor: default;
      }
      @media (max-width:991px) {
         display: none;
      }
   }
}

.mainhead {
   background: url('../../assets/img/main5.jpeg');
   background-position: top center;
   background-size: cover;
   background-attachment: fixed;
   position: relative;
   padding-top: 7rem;
   padding-bottom: 7rem;
   min-height: 100px;
   @media (max-width: 700px) {
      padding-bottom:4rem;
      padding-top:4rem;
      .slideText {
         font-size:1.8rem;
      }
      .subheading {
         font-size:1.4rem;
      }
   }
   @media (max-width: 600px) {

      .slideText {
         font-size:1.5rem;
      }
      .subheading {
         display:none;
      }
   }
   &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 1);
      opacity: .5;
   }
   .btn-custom {
      border-radius: 0;
      border: 0;
      color: $secondary;
      &:hover {
         color: $secondary - 20;
      }
   }
   .slideText {
      font-weight: 100;
   }
   .boldtext {
      font-weight: 700;
   }
   .shadow {
      right: 0;
      bottom: 0;
      width: 50%;
      box-shadow: 10px 10px 10px 10px black;
   }
   &:after {
      content: " ";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      height: 20px;
      z-index: -1;
      text-align: center;
      -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
   }
   .subheading {
      font-weight: 100;
      @media (max-width: 500px) {
         font-size:1.1rem;
      }
   }
   .arrow {
      font-size: 1.5rem;
   }
}

.hLine {
   border: 0;
   height: 1px;
   width: 40%;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

.cryptosearch {
   background-color: #fff;
   margin: -60px 100px 0;
   border-radius: 6px;
   box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
   z-index: 100;
   position: relative;
   min-height: 500px;
   @media (max-width: $break-md) {
      margin: -60px 10px 0;
   }
   @media (max-width:450px) {
      .table td,
      .table th {
         padding: 0.2em;
      }
      table.dataTable thead .sorting:before,
      table.dataTable thead .sorting:after,
      table.dataTable thead .sorting_asc:before,
      table.dataTable thead .sorting_asc:after,
      table.dataTable thead .sorting_desc:before,
      table.dataTable thead .sorting_desc:after,
      table.dataTable thead .sorting_asc_disabled:before,
      table.dataTable thead .sorting_asc_disabled:after,
      table.dataTable thead .sorting_desc_disabled:before,
      table.dataTable thead .sorting_desc_disabled:after {
         bottom: 0.2em;
      }
   } // Remove rows from table when 908px or less
   @media (max-width:908px) {
      thead th:nth-child(2) {
         display: none;
      }
      tbody tr td:nth-child(2) {
         display: none;
      }
   } // Remove rows from table when 908px or less
   @media (max-width: 795px) {
      thead th:nth-child(5) {
         display: none;
      }
      tbody tr td:nth-child(5) {
         display: none;
      }
   }
   @media (max-width: 715px) {
      thead th:nth-child(4) {
         display: none;
      }
      tbody tr td:nth-child(4) {
         display: none;
      }
   }
   @media (max-width: 500px) {
      padding-top:10px;
      .row-blue {
         display:none;
      }
   }
   tbody {
      tr {
         line-height: 2.2rem;
         td {
            vertical-align: middle;
            height: 100px;
         }
      }
      .cryptocurrencies {
         text-align: left;
         width: 20%;
         font-weight: 100;
      }
      .support svg {
         color:$primary;
         font-size:1.5rem;
      }
   }
   .info-icon {
      font-size: 1rem;
      margin: 0 0 0 5px;
      padding: 0px;
   }
   .greytext {
      color: rgba(0, 0, 0, 0.8);
      font-weight: 400;
   }
   .user-form {
      option {
         text-transform: uppercase;
         font-family: $lato;
         @media (max-width: 600px) {
            text-transform: initial;
            font-size: .9rem;
            line-height: 4px;
         }
      }
   }
   .row-blue {
      background-color: #207382;
      height: 4rem;
      padding: 12px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
   }
   .broker-img {
      width: 200px;
      height: auto;
      min-height: 50px;
      margin: 0 auto;
      @media (max-width: 715px) {
         width:150px;
         height: auto;
      }
      @media (max-width:500px) {
         width: 120px;
         height: auto;
      }
   }
   .crypto {
      font-size: 2rem;
      color: $primary;
   }
   .rating {
      font-size: 2.2rem;
      font-weight: 700;
      color: $fourth;
      border: 2px solid $fourth;
      border-radius: 50px;
      background-color:rgba(255, 255, 255, .8);
      box-shadow: 0px 0px 20px 1px rgba(46, 46, 46, 0.3);
      padding: 10px 13px;
      margin: 0;
      cursor: default;
      user-select: none;
      @media (max-width: 715px) {
         font-size:1.5rem;
         border-width: 1px;
         margin: 0;
      }
   }
   .image-td {
      width: 25%;
   }
   .deposit {
      font-size: 1.5rem;
      font-weight: 500;
      border-bottom: 1px solid #222;
   }
   .btn-review {
      background-color:none;
      border:0;
      color:$primary;
      text-decoration:underline;
      font-style: italic;
      margin-top:-15px;
      &:hover {
         background-color:transparent;
         color:$primary + 100;
      }
   }
   .btn-custom {
      background-color: #207382;
      border: 0;
      border-radius: 5px;
      font-size: 1rem;
      padding:12px;
      font-family: $raleway;
      font-weight: 100;
      margin-bottom: 10px;
      &:hover {
         background-color: $primary;
      }
      @media (max-width: 800px) {
         font-size: 0.8rem;
      }
      @media (max-width:500px) {
         padding: 8px;
         font-size: 0.65rem;
      }
      @media (max-width:400px) {
         padding: 5px;
         margin-bottom: 1px;
         width: 95px;
         margin: 0;
      }
   }
}

.backtotop {
   position: fixed;
   z-index: 2000;
   bottom: 20px;
   right: 20px;
   width: 50px;
   height: 50px;
   background-color: $primary;
   transition: 1s;
   cursor: pointer;
   &:hover {
      background-color: $primary * 2;
      transition: 1s;
   }
   .arrow-up {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: 0 auto;
      vertical-align: middle;
      color: white;
      font-size: 2.8rem;
   }
}

#about {
   h2 {
      font-family: $raleway;
      font-size: 2.4rem;
      font-weight: 100;
      color: $primary;
      @media (max-width: 600px) {
         font-size:2.1rem;
      }
      @media (max-width:500px) {
         font-size: 1.8rem;
      }
   }
   h3 {
      font-weight: 400;
      font-size: 2rem;
      color: $secondary;
   }
   p {
      font-family: $lato;
      font-weight: 100;
   }
}

#market {
   background-color: rgb(243, 240, 240);
   padding: 20px 0;
   margin-top: 60px;
   padding-bottom: 60px;
   .cc-spacing {
      padding: 20px 50px;
   }
   h2 {
      font-family: $raleway;
      font-size: 2rem;
      font-weight: 100;
      color: $primary;
      @media (max-width: 600px) {
         font-size:1.8rem;
      }
      @media (max-width:500px) {
         font-size: 1.6rem;
      }
      @media (max-width:400px) {
         font-size: 1.2rem;
      }
   }
   h3 {
      margin-top: 30px;
   }
}

// Footer
footer#footer {
   background-color: #333;
   .footer-text {
      padding-top:40px;
      h5 {
      color:rgba(255, 255, 255, .9);
      }
      p {
      font-family: $raleway;
      font-size:0.9rem;
      color: rgba(255, 255, 255, .9);
      text-align:justify!important;
      @media (max-width:580px) {
         font-size:0.7rem;
      }
      }
      @media (max-width: 580px) {
         padding:40px 20px;
      }
   }
   h2 {
      color: rgba(255, 255, 255, .7);
   }
   .copyright {
      font-size: 1.1rem;
      font-family: $raleway;
      text-transform: uppercase;
   }
}

// Widgets
#marquee-element {
   padding: 10px!important;
   background-color: transparent;
   @media (max-width: 767px) {
      display:none!important;
   }
}

.ccc-widget.ccc-chart a {
   pointer-events: none!important;
}

.ccc-widget ccc-header-v3 a {
   pointer-events: none!important;
}

// Review page 
.masthead-review {
   padding-top: 5rem;
   padding-bottom: 3rem;
   margin-bottom: 2rem;
   &:before {
      opacity: 0.8;
   }
   @media (max-width: 767px) {
      text-align: center;
   }
   .headerimg {
      max-width: 250px;
      width: 350px;
      margin-top: 0px;
      @media (max-width: 767px) {
         margin-bottom:10px;
      }
   }
   .rating-outer {
      width: 100px;
      margin-top: 4px;
      margin-left: 0 auto;
      @media (max-width: 767px) {
         margin:0 auto;
      }
   }
   .rating-text {
      font-size: 1.5rem;
      padding-bottom: 0px;
      color: rgba(255, 255, 255, .9);
   }
   .rating {
      font-size: 2.2rem;
      font-weight: 700;
      color: $fourth;
      border: 2px solid $fourth;
      border-radius: 50px;
      box-shadow: 0px 0px 20px 1px rgba(46, 46, 46, 0.3);
      padding: 5px 0px;
      margin: 0;
      cursor: default;
      user-select: none;
   }
}

#review {
   // margin-top: 80px;
   @media (max-width: 767px) {
      display:flex;
      flex-flow: column;
      .right {
         order: 1;
         margin-bottom: 30px;
      }
      .left {
         order: 2;
      }
   }
   .left {
      box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, .12);
      padding: 20px 50px;
   }
   h3 {
      font-family: $raleway;
      font-weight: 700;
      color: $primary;
      border-bottom: 1px solid #999;
      padding-bottom: 10px;
      margin-bottom: 15px;
      text-align: center;
   }
   .description {
      p {
         font-size: 1.1rem;
         &:first-child {
            font-size:1.2rem;
         }
      }
   }
   .subheading {
      font-size: 1.5rem;
      color: $primary;
      border: 0;
      padding: 0;
      margin-bottom: 5px;
   }
   p {
      font-family: $raleway;
      font-weight: 100;
      text-align: justify;
   }
   .calltoaction {
      text-decoration:none;
      text-transform:uppercase;
      font-weight:700;
      font-size:1.4rem;
      background-color:rgba(0, 0, 0, 0.18);
      border:0;
      color:$primary - 10;
      &:hover {
         color:$primary + 40;
      }
   }
   .card {
      margin-top: -10px;
      border-radius: 0.7rem;
      box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, .12);
      .card-header {
         background-color: $primary;
         color: #fff;
         text-align: center;
         font-size: 1.5rem;
         font-family: $raleway;
      }
      .list-group-item {
         font-family: $raleway;
         font-size: 1.2rem;
         .btn-overview {
            border-radius: 0px;
            border: 0;
            width: 80%;
            background-color: $secondary - 40;
            &:hover {
               background-color: $primary;
            }
         }
         .cryptocurrencies i {
            font-size: 1.9rem;
         }
         .deposit {
            font-weight: 700;
         }
         .support p {
            display: inline-block;
            margin: 0;
         }
         .support svg {
            color: green - 20;
         }
      }
   }
}
span.strong {
   font-weight:700;
}

.footer-hr {
   color:$third;
   background-color:rgba(255, 255, 255, .2);
}

.btn-review {
   background-color: transparent;
   border-radius: 0;
}

.about-us {
   padding:40px;
   border:1px solid #333;
   margin:30px 0;
}