// Colors

$primary: #102837;
$secondary: #7AA1C2;
$third: #FEFDFD;
$fourth: #AC7230;
$fifth: #6C421B;

// Fonts

$lato: 'Lato', sans-serif;
$raleway: 'Raleway', sans-serif;

// Media queries
$break-small:320px;
$break-md: 992px;