body {
  overflow-x: hidden;
}

body p {
  font-size: 1.2rem;
}

.widget:first-child {
  padding: 10px;
}

.dataTables_wrapper {
  padding-left: 8px;
  padding-right: 8px;
}

.custom-navbar {
  background-color: #102837;
  z-index: 101;
}
@media (min-width: 992px) {
  .custom-navbar {
    padding: 10px 200px;
    height: 50px;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
  }
}
.custom-navbar .nav-link {
  font-family: "Lato", sans-serif;
  font-size: 1.05rem;
  text-transform: uppercase;
  font-weight: 500;
}
.custom-navbar .nav-link-custom {
  cursor: default;
}
.custom-navbar .nav-link-custom:hover {
  color: rgba(255, 255, 255, 0.5) !important;
  cursor: default;
}
@media (max-width: 991px) {
  .custom-navbar .nav-link-custom {
    display: none;
  }
}

.mainhead {
  background: url("../../assets/img/main5.jpeg");
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding-top: 7rem;
  padding-bottom: 7rem;
  min-height: 100px;
}
@media (max-width: 700px) {
  .mainhead {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
  .mainhead .slideText {
    font-size: 1.8rem;
  }
  .mainhead .subheading {
    font-size: 1.4rem;
  }
}
@media (max-width: 600px) {
  .mainhead .slideText {
    font-size: 1.5rem;
  }
  .mainhead .subheading {
    display: none;
  }
}
.mainhead:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: .5;
}
.mainhead .btn-custom {
  border-radius: 0;
  border: 0;
  color: #7AA1C2;
}
.mainhead .btn-custom:hover {
  color: #668dae;
}
.mainhead .slideText {
  font-weight: 100;
}
.mainhead .boldtext {
  font-weight: 700;
}
.mainhead .shadow {
  right: 0;
  bottom: 0;
  width: 50%;
  box-shadow: 10px 10px 10px 10px black;
}
.mainhead:after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  height: 20px;
  z-index: -1;
  text-align: center;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.mainhead .subheading {
  font-weight: 100;
}
@media (max-width: 500px) {
  .mainhead .subheading {
    font-size: 1.1rem;
  }
}
.mainhead .arrow {
  font-size: 1.5rem;
}

.hLine {
  border: 0;
  height: 1px;
  width: 40%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

.cryptosearch {
  background-color: #fff;
  margin: -60px 100px 0;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  z-index: 100;
  position: relative;
  min-height: 500px;
}
@media (max-width: 992px) {
  .cryptosearch {
    margin: -60px 10px 0;
  }
}
@media (max-width: 450px) {
  .cryptosearch .table td,
  .cryptosearch .table th {
    padding: 0.2em;
  }
  .cryptosearch table.dataTable thead .sorting:before,
  .cryptosearch table.dataTable thead .sorting:after,
  .cryptosearch table.dataTable thead .sorting_asc:before,
  .cryptosearch table.dataTable thead .sorting_asc:after,
  .cryptosearch table.dataTable thead .sorting_desc:before,
  .cryptosearch table.dataTable thead .sorting_desc:after,
  .cryptosearch table.dataTable thead .sorting_asc_disabled:before,
  .cryptosearch table.dataTable thead .sorting_asc_disabled:after,
  .cryptosearch table.dataTable thead .sorting_desc_disabled:before,
  .cryptosearch table.dataTable thead .sorting_desc_disabled:after {
    bottom: 0.2em;
  }
}
@media (max-width: 908px) {
  .cryptosearch thead th:nth-child(2) {
    display: none;
  }
  .cryptosearch tbody tr td:nth-child(2) {
    display: none;
  }
}
@media (max-width: 795px) {
  .cryptosearch thead th:nth-child(5) {
    display: none;
  }
  .cryptosearch tbody tr td:nth-child(5) {
    display: none;
  }
}
@media (max-width: 715px) {
  .cryptosearch thead th:nth-child(4) {
    display: none;
  }
  .cryptosearch tbody tr td:nth-child(4) {
    display: none;
  }
}
@media (max-width: 500px) {
  .cryptosearch {
    padding-top: 10px;
  }
  .cryptosearch .row-blue {
    display: none;
  }
}
.cryptosearch tbody tr {
  line-height: 2.2rem;
}
.cryptosearch tbody tr td {
  vertical-align: middle;
  height: 100px;
}
.cryptosearch tbody .cryptocurrencies {
  text-align: left;
  width: 20%;
  font-weight: 100;
}
.cryptosearch tbody .support svg {
  color: #102837;
  font-size: 1.5rem;
}
.cryptosearch .info-icon {
  font-size: 1rem;
  margin: 0 0 0 5px;
  padding: 0px;
}
.cryptosearch .greytext {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
}
.cryptosearch .user-form option {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
}
@media (max-width: 600px) {
  .cryptosearch .user-form option {
    text-transform: initial;
    font-size: .9rem;
    line-height: 4px;
  }
}
.cryptosearch .row-blue {
  background-color: #207382;
  height: 4rem;
  padding: 12px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.cryptosearch .broker-img {
  width: 200px;
  height: auto;
  min-height: 50px;
  margin: 0 auto;
}
@media (max-width: 715px) {
  .cryptosearch .broker-img {
    width: 150px;
    height: auto;
  }
}
@media (max-width: 500px) {
  .cryptosearch .broker-img {
    width: 120px;
    height: auto;
  }
}
.cryptosearch .crypto {
  font-size: 2rem;
  color: #102837;
}
.cryptosearch .rating {
  font-size: 2.2rem;
  font-weight: 700;
  color: #AC7230;
  border: 2px solid #AC7230;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 20px 1px rgba(46, 46, 46, 0.3);
  padding: 10px 13px;
  margin: 0;
  cursor: default;
  user-select: none;
}
@media (max-width: 715px) {
  .cryptosearch .rating {
    font-size: 1.5rem;
    border-width: 1px;
    margin: 0;
  }
}
.cryptosearch .image-td {
  width: 25%;
}
.cryptosearch .deposit {
  font-size: 1.5rem;
  font-weight: 500;
  border-bottom: 1px solid #222;
}
.cryptosearch .btn-review {
  background-color: none;
  border: 0;
  color: #102837;
  text-decoration: underline;
  font-style: italic;
  margin-top: -15px;
}
.cryptosearch .btn-review:hover {
  background-color: transparent;
  color: #748c9b;
}
.cryptosearch .btn-custom {
  background-color: #207382;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  padding: 12px;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  margin-bottom: 10px;
}
.cryptosearch .btn-custom:hover {
  background-color: #102837;
}
@media (max-width: 800px) {
  .cryptosearch .btn-custom {
    font-size: 0.8rem;
  }
}
@media (max-width: 500px) {
  .cryptosearch .btn-custom {
    padding: 8px;
    font-size: 0.65rem;
  }
}
@media (max-width: 400px) {
  .cryptosearch .btn-custom {
    padding: 5px;
    margin-bottom: 1px;
    width: 95px;
    margin: 0;
  }
}

.backtotop {
  position: fixed;
  z-index: 2000;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #102837;
  transition: 1s;
  cursor: pointer;
}
.backtotop:hover {
  background-color: #20506e;
  transition: 1s;
}
.backtotop .arrow-up {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  vertical-align: middle;
  color: white;
  font-size: 2.8rem;
}

#about h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2.4rem;
  font-weight: 100;
  color: #102837;
}
@media (max-width: 600px) {
  #about h2 {
    font-size: 2.1rem;
  }
}
@media (max-width: 500px) {
  #about h2 {
    font-size: 1.8rem;
  }
}
#about h3 {
  font-weight: 400;
  font-size: 2rem;
  color: #7AA1C2;
}
#about p {
  font-family: "Lato", sans-serif;
  font-weight: 100;
}

#market {
  background-color: #f3f0f0;
  padding: 20px 0;
  margin-top: 60px;
  padding-bottom: 60px;
}
#market .cc-spacing {
  padding: 20px 50px;
}
#market h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 100;
  color: #102837;
}
@media (max-width: 600px) {
  #market h2 {
    font-size: 1.8rem;
  }
}
@media (max-width: 500px) {
  #market h2 {
    font-size: 1.6rem;
  }
}
@media (max-width: 400px) {
  #market h2 {
    font-size: 1.2rem;
  }
}
#market h3 {
  margin-top: 30px;
}

footer#footer {
  background-color: #333;
}
footer#footer .footer-text {
  padding-top: 40px;
}
footer#footer .footer-text h5 {
  color: rgba(255, 255, 255, 0.9);
}
footer#footer .footer-text p {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.9);
  text-align: justify !important;
}
@media (max-width: 580px) {
  footer#footer .footer-text p {
    font-size: 0.7rem;
  }
}
@media (max-width: 580px) {
  footer#footer .footer-text {
    padding: 40px 20px;
  }
}
footer#footer h2 {
  color: rgba(255, 255, 255, 0.7);
}
footer#footer .copyright {
  font-size: 1.1rem;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

#marquee-element {
  padding: 10px !important;
  background-color: transparent;
}
@media (max-width: 767px) {
  #marquee-element {
    display: none !important;
  }
}

.ccc-widget.ccc-chart a {
  pointer-events: none !important;
}

.ccc-widget ccc-header-v3 a {
  pointer-events: none !important;
}

.masthead-review {
  padding-top: 5rem;
  padding-bottom: 3rem;
  margin-bottom: 2rem;
}
.masthead-review:before {
  opacity: 0.8;
}
@media (max-width: 767px) {
  .masthead-review {
    text-align: center;
  }
}
.masthead-review .headerimg {
  max-width: 250px;
  width: 350px;
  margin-top: 0px;
}
@media (max-width: 767px) {
  .masthead-review .headerimg {
    margin-bottom: 10px;
  }
}
.masthead-review .rating-outer {
  width: 100px;
  margin-top: 4px;
  margin-left: 0 auto;
}
@media (max-width: 767px) {
  .masthead-review .rating-outer {
    margin: 0 auto;
  }
}
.masthead-review .rating-text {
  font-size: 1.5rem;
  padding-bottom: 0px;
  color: rgba(255, 255, 255, 0.9);
}
.masthead-review .rating {
  font-size: 2.2rem;
  font-weight: 700;
  color: #AC7230;
  border: 2px solid #AC7230;
  border-radius: 50px;
  box-shadow: 0px 0px 20px 1px rgba(46, 46, 46, 0.3);
  padding: 5px 0px;
  margin: 0;
  cursor: default;
  user-select: none;
}

@media (max-width: 767px) {
  #review {
    display: flex;
    flex-flow: column;
  }
  #review .right {
    order: 1;
    margin-bottom: 30px;
  }
  #review .left {
    order: 2;
  }
}
#review .left {
  box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.12);
  padding: 20px 50px;
}
#review h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #102837;
  border-bottom: 1px solid #999;
  padding-bottom: 10px;
  margin-bottom: 15px;
  text-align: center;
}
#review .description p {
  font-size: 1.1rem;
}
#review .description p:first-child {
  font-size: 1.2rem;
}
#review .subheading {
  font-size: 1.5rem;
  color: #102837;
  border: 0;
  padding: 0;
  margin-bottom: 5px;
}
#review p {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  text-align: justify;
}
#review .calltoaction {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4rem;
  background-color: rgba(0, 0, 0, 0.18);
  border: 0;
  color: #061e2d;
}
#review .calltoaction:hover {
  color: #38505f;
}
#review .card {
  margin-top: -10px;
  border-radius: 0.7rem;
  box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.12);
}
#review .card .card-header {
  background-color: #102837;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
}
#review .card .list-group-item {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
}
#review .card .list-group-item .btn-overview {
  border-radius: 0px;
  border: 0;
  width: 80%;
  background-color: #52799a;
}
#review .card .list-group-item .btn-overview:hover {
  background-color: #102837;
}
#review .card .list-group-item .cryptocurrencies i {
  font-size: 1.9rem;
}
#review .card .list-group-item .deposit {
  font-weight: 700;
}
#review .card .list-group-item .support p {
  display: inline-block;
  margin: 0;
}
#review .card .list-group-item .support svg {
  color: #006c00;
}

span.strong {
  font-weight: 700;
}

.footer-hr {
  color: #FEFDFD;
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-review {
  background-color: transparent;
  border-radius: 0;
}

.about-us {
  padding: 40px;
  border: 1px solid #333;
  margin: 30px 0;
}
